body {
    background-image: url('/assets/img/background.jpg');
    background-size: cover;
    font-size: 1.25rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    letter-spacing: -0.125rem;
    line-height: 1.4;
}

.bio {
    background-color: #F68800 !important;
    opacity: 0.9;
}

.logo {
    max-width: 50%;
    z-index: 100;
}

.btn {
    border-width: .25rem !important;
}

a.btn:hover, a.btn:active, a.btn:focus {
    border-color: white !important;
    background-color: black !important;
}

a.text-dark:hover, a.text-dark:active, a.text-dark:focus {
    color: white !important;
}

.text-dark {
    color: black !important;
}

.bg-dark {
    background-color: black !important;
}

.border-dark {
    border-color: black !important;
}